<div class="container mb-5">
  <!-- Row 1 -->
  <div class="row mb-4 g-4">
    <div class="col-md-6">
      <div class="card shadow-sm rounded-4">
        <div class="card-body">
          <h6 class="text-center fw-semibold text-secondary">Maps Created Over Time</h6>
          <%= column_chart @maps_over_time, height: "300px" %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card shadow-sm rounded-4">
        <div class="card-body">
          <h6 class="text-center fw-semibold text-secondary">Comments Made Over Time</h6>
          <%= line_chart @comments_over_time, height: "300px" %>
        </div>
      </div>
    </div>
  </div>

  <!-- Row 2 -->
  <div class="row mb-4 g-4">
    <div class="col-md-12">
      <div class="card shadow-sm rounded-4">
        <div class="card-body">
          <h6 class="text-center fw-semibold text-secondary">Comments Received Per Map</h6>
          <%= bar_chart @comments_per_map, height: "300px" %>
        </div>
      </div>
    </div>
  </div>

  <!-- Row 3 -->
  <div class="row mb-4 g-4">
    <div class="col-md-6">
      <div class="card shadow-sm rounded-4">
        <div class="card-body">
          <h6 class="text-center fw-semibold text-secondary">Software Distribution Across Maps</h6>
          <%= pie_chart @software_usage, height: "300px" %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card shadow-sm rounded-4">
        <div class="card-body">
          <h6 class="text-center fw-semibold text-secondary">Scale Distribution</h6>
          <%= bar_chart @scale_distribution, height: "300px" %>
        </div>
      </div>
    </div>
  </div>
</div>
