<div class="bg-light rounded-4 p-4 my-3 shadow-sm d-flex align-items-center">
  <% if comment.visualization.image.attached? %>
    <div class="me-3">
      <%= image_tag(comment.visualization.image, width: 100, height: 100, class: "object-fit-cover rounded-2 disable_img") %>
    </div>
  <% end %>
  <div class="w-100">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <% unless current_user == user %>
        <span class="fw-bold text-primary">
          <%= t("common.by", name: user.fullname) %>
        </span>
      <% end %>
      <span class="text-muted small">
        <%= humanized_time_ago(comment.created_at) %>
      </span>
    </div>
    <%= simple_format(ContentPresenter.new(comment.content, current_user).with_mentions) %>
    <%= link_to(comment.visualization, data: {turbo: :false}) do %>
        <%= render(ButtonComponent.new(text: t("visualization.go_to"), size: :sm, rounded: :pill, outline: :true)) %>
    <% end %>
  </div>
</div>
