<%= form_with(model: @user, url: my_profile_path, local: true, class: "needs-validation", novalidate: true) do |form| %>
  <div class="text-secondary text-center"><%= t("my.profile.user_info_disclaimer_html") %></div>
  <div class="row mt-5">
    <div class="col-3">
      <h3 class="text-primary"><%= t("users.form.general_info_section") %></h3>
    </div>
    <div class="col-9">
      <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
        <div class="col">
          <%= form.label(:first_name, class: "form-label fw-semibold required") %>
          <%= form.text_field(:first_name, class: "form-control rounded-pill shadow-sm", placeholder: t("users.form.first_name_placeholder")) %>
        </div>
        <div class="col">
          <%= form.label(:last_name, class: "form-label fw-semibold required") %>
          <%= form.text_field(:last_name, class: "form-control rounded-pill shadow-sm", placeholder: t("users.form.last_name_placeholder")) %>
        </div>
        <div class="col">
          <%= form.label(:slug, class: "form-label fw-semibold required") %>
          <%= form.text_field(:slug, class: "form-control rounded-pill shadow-sm text-lowercase") %>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-2 g-4 mb-3">
        <div class="col">
          <%= form.label(:locale, class: "form-label fw-semibold") %>
          <%= form.select(:locale, [ [ "French", "fr" ], [ "English", "en" ] ], {}, {class: "form-select rounded-pill shadow-sm"}) %>
        </div>
        <div class="col">
          <%= form.label(:personal_website, class: "form-label fw-semibold") %>
          <%= form.url_field(:personal_website, class: "form-control rounded-pill shadow-sm", placeholder: "https://yourwebsite.com") %>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-3">
      <h3 class="text-primary"><%= t("users.form.bio_section") %></h3>
    </div>
    <div class="col-9">
      <div class="mb-3">
        <%= form.text_area(:bio, class: "form-control rounded-4 shadow-sm", rows: 5, placeholder: t("users.form.bio_placeholder")) %>
      </div>
    </div>
  </div>

  <% if !@user.guest? %>
    <div class="row mt-5">
      <div class="col-3">
        <h3 class="text-primary"><%= t("users.form.community_section") %></h3>
      </div>
      <div class="col-9">
        <div class="form-check form-switch ms-3 d-flex align-items-center gap-2">
          <%= form.check_box(:optin_directory, class: 'form-check-input fs-4', id: 'optin_directory_switch', role: 'switch') %>
          <%= form.label(:optin_directory, t("users.form.option_directory"), class: 'form-check-label mb-0', for: 'optin_directory_switch') %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row mt-5">
    <div class="col-3">
      <h3 class="text-primary"><%= t("activerecord.attributes.user.social_links") %></h3>
    </div>
    <div class="col-9">
      <%= render("my/profile/form/social_links", form:) %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-3">
      <h3 class="text-primary"><%= t("activerecord.attributes.user.social_links") %></h3>
    </div>
    <div class="col-9">
      <%= render("my/profile/form/softwares", form:) %>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-3"></div>
    <div class="col-9">
      <%= form.submit(t("common.save"), class: "btn btn-primary btn-lg w-100 rounded-pill shadow-sm") %>
    </div>
  </div>
<% end %>
