<div class="container d-flex justify-content-between align-items-center border-bottom pb-3 mb-4">
  <h1 class="my-0 display-5 text-primary"><%= t("my.profile.title") %></h1>
  <%= link_to(edit_my_profile_path, class: "btn btn-outline-primary btn-lg rounded-4 d-flex align-items-center gap-2") do %>
      <i class="fa-regular fa-pen-to-square"></i>
    <span><%= t("common.edit") %></span>
  <% end %>
</div>

<div class="container">
  <%= render("my/profile/guest_alert") %>
</div>

<%= render("tabs_nav") %>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <%= render("user_info") %>
  </div>
  <div class="tab-pane fade" id="charts" role="tabpanel" aria-labelledby="charts-tab">
    <%= render("charts") %>
  </div>
  <div class="tab-pane fade" id="visualizations" role="tabpanel" aria-labelledby="visualizations-tab">
    <%= render("visualizations", visualizations: @visualizations) %>
  </div>
  <div class="tab-pane fade" id="comments" role="tabpanel" aria-labelledby="comments-tab">
    <%= render("comments", comments: @comments) if @comments.any? %>
  </div>
</div>
