<div class="container">
  <div id="homepageCarousel" class="carousel slide homepage_carousel">
    <div class="carousel-indicators">
      <% maps.each_with_index do |_, index| %>
        <button type="button" data-bs-target="#homepageCarousel" data-bs-slide-to="<%= index %>" class="<%= "active" if index.zero? %>" aria-label="Slide <%= index + 1 %>"></button>
      <% end %>
    </div>

    <div class="carousel-inner">
      <% maps.each_with_index do |map, index| %>
        <div class="carousel-item <%= "active" if index.zero? %>">
          <%= image_tag(map.image, class: "d-block w-100 object-fit-cover", alt: "Placeholder image") %>
          <div class="carousel-caption bg-dark bg-opacity-50 rounded-4">
            <h5><%= link_to(map.title, map, class: "link-light text-decoration-none") %></h5>
            <p><%= t("common.by", name: map.user.email) %></p>
          </div>
        </div>
      <% end %>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#homepageCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#homepageCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
