<div class="container">
  <div class="card shadow-sm rounded-4">
    <div class="card-body">
      <!-- Bio -->
      <p class="card-text text-muted"><%= @user.bio %></p>

      <!-- Social Links Section -->
      <h5 class="card-title text-primary fw-bold"><%= t("activerecord.attributes.user.social_links") %></h5>
      <% if user.social_links.present? %>
        <ul class="list-inline mt-2">
          <li class="list-inline-item">
            <% if @user.personal_website.present? %>
              <a href="<%= @user.personal_website %>" class="btn btn-outline-secondary btn-sm rounded-pill" target="_blank">
                <%= t("activerecord.attributes.user.personal_website") %>
              </a>
            <% end %>
          </li>
          <% user.social_links.each do |platform, link| %>
            <% unless link.blank? %>
              <li class="list-inline-item">
                <a href="<%= link %>" target="_blank" class="btn btn-outline-secondary btn-sm rounded-pill">
                  <i class="fa-brands fa-<%= platform %>"></i> <%= platform.capitalize %>
                </a>
              </li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
      <hr>

      <%= render("users/show/software_section", user:) %>
    </div>
  </div>
</div>
