<% maps.each do |map| %>
  <div class="col">
    <div class="card h-100 rounded-4">
      <% if map.image.attached? %>
        <%= image_tag(map.image, class: "card-img-top rounded-4", alt: "#{map.title} image") %>
      <% else %>
        <%= image_tag("placeholder.jpg", class: "card-img-top", alt: "Placeholder image") %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= map.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted">Created by: <%= map.user.email %></h6>
      </div>
      <%= link_to("View Details", map, class: "btn btn-primary btn-sm m-1 rounded-4") %>
    </div>
  </div>
<% end %>
