<div class="container mb-4">
  <div class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-4">
    <h1 class="my-0 display-5 text-primary"><%= t("cartography.title") %></h1>
    <% if user_signed_in? %>
      <%= link_to(new_map_path, class: "btn btn-outline-primary btn-lg rounded-4 d-flex align-items-center gap-2") do %>
        <i class="fa-solid fa-circle-plus"></i>
        <span>New Map</span>
      <% end %>
    <% end %>
  </div>

  <%= render("maps/index/search", query: @query, map_count: @pagy.count) %>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <%= render(partial: "maps/index/card", collection: @maps, as: :map) %>
  </div>
  <div class="d-flex justify-content-center align-items-center mt-3">
    <%== pagy_nav(@pagy) if @pagy.pages > 1  %>
  </div>
</div>
