<div class="bg-primary bg-opacity-75 mt-5 p-4">
  <div class="container">
    <%= turbo_frame_tag("visualization_#{visualization.id}_comment_count") do %>
      <%= render("comments/title", visualization:) %>
    <% end %>

    <% if policy(Comment).create? %>
      <%= turbo_frame_tag("visualization_comment_form") do %>
        <%= render("comments/form", visualization:, comment: new_comment) %>
      <% end %>
    <% end %>

    <% if comments.any? %>
      <!-- Render the first 5 comments -->
      <%= turbo_frame_tag("visualization_#{visualization.id}_comments") do %>
        <%= render(partial: "comments/comment", collection: comments.limit(5).includes(:user)) %>
      <% end %>
      <% if comments.count > 5 %>
        <!-- Show More button -->
        <a class="btn btn-outline-light" data-bs-toggle="collapse" href="#collapseComments" role="button" aria-expanded="false" aria-controls="collapseComments">
          <%= t("comments.show_more") %>
        </a>
        <!-- Collapsed section with the remaining comments -->
        <div class="collapse" id="collapseComments">
          <%= render(partial: "comments/comment", collection: comments.offset(5).includes(:user)) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
