<div class="card shadow-sm rounded-4">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h5 class="card-title text-primary"><%= visualization.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted">
          <%= t("common.created_by") %>
          <% if current_user.subscribed? %>
            <%= link_to(visualization.user.fullname, user_profile_path(locale, visualization.user.slug)) %>
          <% else %>
            <%= visualization.user.fullname %>
          <% end %>
        </h6>
      </div>
      <i class="fa-solid fa-2x text-primary fa-<%= visualization.map? ? "map" : "database" %>"></i>
    </div>

    <p class="card-text text-secondary"><%= visualization.description %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <span class="fw-bold"><%= t("activerecord.attributes.visualization.creation_date") %>:</span>
      <%= visualization.creation_date %>
    </li>
    <% if visualization.map? %>
      <li class="list-group-item">
        <span class="fw-bold"><%= t("activerecord.attributes.visualization.scale") %>:</span>
        <%= visualization.scale %>
      </li>
      <li class="list-group-item">
        <span class="fw-bold"><%= t("activerecord.attributes.visualization.geographic_coverage") %>:</span>
        <%= t("visualizations.geographic_coverages.#{visualization.geographic_coverage&.downcase}") %>
      </li>
      <li class="list-group-item">
        <span class="fw-bold"><%= t("activerecord.attributes.visualization.projection") %>:</span>
        <%= t("visualization_projections.#{visualization.projection}") %>
      </li>
    <% end %>
    <li class="list-group-item">
      <span class="fw-bold"><%= t("activerecord.attributes.visualization.source") %>:</span>
      <%= visualization.sources %>
    </li>
    <% if visualization.challenge.present? %>
      <li class="list-group-item">
        <span class="fw-bold"><%= t("activerecord.attributes.visualization.challenge") %>:</span>
        <%= link_to(visualization.challenge.title, participations_challenge_path(locale, visualization.challenge)) %>
      </li>
    <% end %>
  </ul>
  <div class="card-body">
    <%= render("visualizations/show/info_softwares", visualization:) %>
  </div>
</div>
