<%= render("challenges/show/header", challenge: @challenge) %>

<div class="container mt-5">
  <%= render("challenges/show/sub_header", challenge: @challenge) %>

  <%= turbo_frame_tag("challenge_tab_content") do %>
    <%= render("challenges/tabs/tabs_nav", challenge: @challenge) %>
    <%= render(partial: "challenges/discussions/card", collection: @discussions, as: :discussion) %>
  <% end %>
</div>
