<div class="container">
  <div class="card shadow-sm rounded-4">
    <div class="card-body">
      <h5 class="card-title text-primary"><%= map.title %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= t("common.created_by", name: map.user.fullname) %></h6>
      <p class="card-text text-secondary"><%= truncate(map.description, length: 100) %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong><%= t("activerecord.attributes.maps.creation_date") %>:</strong> <%= map.creation_date %></li>
      <li class="list-group-item"><strong><%= t("activerecord.attributes.maps.scale") %>:</strong> <%= map.scale %></li>
      <li class="list-group-item"><strong><%= t("activerecord.attributes.maps.source") %>:</strong> <%= map.sources %></li>
      <li class="list-group-item"><strong><%= t("activerecord.attributes.maps.geographic_coverage") %>:</strong> <%= map.geographic_coverage %></li>
      <li class="list-group-item"><strong><%= t("activerecord.attributes.maps.projection") %>:</strong> <%= t("map_projections.#{map.projection}") %></li>
    </ul>
    <div class="card-body">
      <%= render("maps/show/info_softwares", map:) %>
    </div>
  </div>
</div>
