<h1>All Feedbacks</h1>

<table class="table table-striped mt-4">
  <thead>
    <tr>
      <th>Submitted By</th>
      <th>Subject</th>
      <th>Message</th>
      <th>Submitted At</th>
    </tr>
  </thead>
  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <td><%= feedback.user.email %></td>
        <td><%= feedback.subject %></td>
        <td><%= feedback.message %></td>
        <td><%= feedback.created_at.strftime("%m/%d/%Y - %H:%M") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="d-flex justify-content-center align-items-center mt-3">
  <%== pagy_nav(@pagy) if @pagy.pages > 1  %>
</div>
