<div class="container">
  <%= render(HeaderComponent.new(title: challenge.title)) do %>
    <div class="d-flex gap-2">
      <% if policy(Challenge).edit? %>
        <%= link_to(edit_challenge_path(locale, challenge)) do %>
            <%= render(ButtonComponent.new(text: t("challenges.form.edit_title"), outline: :true, icon: "fa-solid fa-circle-plus")) %>
        <% end %>
      <% end %>

      <% if current_user.challenges.include?(challenge) %>
        <%= button_to(t("challenge.leave"), leave_challenge_path(locale, challenge), method: :delete, class: 'btn btn-outline-danger rounded-pill btn-sm') %>
      <% else %>
        <%= button_to(t("challenge.join"), join_challenge_path(locale, challenge), method: :post, class: 'btn btn-success rounded-pill') %>
      <% end %>
    </div>
  <% end %>
</div>
