<div class="container">
  <%= render(HeaderComponent.new(title: challenge.title)) do %>
    <div class="d-flex gap-2">
      <% if policy(Challenge).edit? %>
        <%= link_to(edit_challenge_path(locale, challenge)) do %>
            <%= render(ButtonComponent.new(text: t("challenges.form.edit_title"), outline: :true, icon: "fa-solid fa-circle-plus")) %>
        <% end %>
      <% end %>

      <% if current_user.challenges.include?(challenge) %>
        <%= render(ButtonComponent.new(
          text: t("challenge.leave"),
          outline: :true,
          color: :danger,
          size: :sm,
          icon: "fa-solid fa-person-walking-arrow-right",
          data: {bs_toggle: "modal", bs_target: "#leaveConfirmation"}
        )) %>
        <%= render("challenges/show/leave_confirmation", challenge:) %>
      <% else %>
        <%= button_to(t("challenge.join"), challenge_user_participation_path(locale, challenge), method: :post, class: 'btn btn-success rounded-pill') %>
      <% end %>
    </div>
  <% end %>
</div>
