<div class="col-lg-8">
  <div class="card p-4 border-secondary-subtle rounded-4 mb-4">
    <div class="card-body">
      <div class="mb-3 d-flex justify-content-between align-items-center">
        <div>
          <span class="badge text-bg-primary">
            <%= t("challenge.category.#{challenge.category.downcase}") %>
          </span>
          <span class="badge text-bg-success">
            <%= t("challenge.difficulty.#{challenge.difficulty.downcase}") %>
          </span>
        </div>

        <div>
          <%= t("common.from_to_date", from: l(challenge.start_date, format: :short), to: l(challenge.end_date, format: :short) ) %>
        </div>
      </div>

      <p class="card-text text-muted"><%= challenge.description %></p>

      <% if current_user.challenges.include?(challenge) %>
        <div class="d-flex gap-2 mb-3">
          <%= link_to(new_challenge_visualization_path(locale, challenge)) do %>
            <%= render(ButtonComponent.new(text: t("challenge.submit_visualization"), outline: :true, icon: "fa-solid fa-circle-plus")) %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
