<div class="col-lg-8">
  <div class="card p-4 border-secondary-subtle rounded-4 mb-4">
    <div class="card-body">
      <div class="mb-3 d-flex flex-column flex-md-row justify-content-md-between align-items-start align-items-md-center">
        <div>
          <span class="badge text-bg-primary">
            <%= t("challenge.category.#{challenge.category.downcase}") %>
          </span>
          <span class="badge text-bg-success">
            <%= t("challenge.difficulty.#{challenge.difficulty.downcase}") %>
          </span>
        </div>

        <div class="fw-semibold">
          <% if challenge.ongoing? %>
            <%= t("challenge.ends_in_x_days", count: (challenge.end_date - Date.today).to_i) %>
          <% elsif challenge.ended? %>
            <%= t("challenge.ended") %>
          <% else %>
            <%= t("common.from_to_date", from: l(challenge.start_date, format: :dmy), to: l(challenge.end_date, format: :dmy)) %>
          <% end %>
        </div>
      </div>

      <p class="card-text text-muted">
        <%= challenge.description %>
      </p>

      <%= render("challenges/show/submit_visualization", challenge:) %>
    </div>
  </div>
</div>
