<% if Challenge::AttachVisualizationPolicy.new(current_user, challenge).new? %>
  <div class="d-flex gap-2 mb-3">
    <%= link_to(new_challenge_visualization_path(locale, challenge)) do %>
      <%= render(ButtonComponent.new(text: t("challenge.submit_new_visualization"), icon: "fa-solid fa-circle-plus")) %>
    <% end %>

    <%= link_to(new_challenge_attach_visualization_path(locale, challenge), data: {turbo_frame: :modal, action: "dialog#open"}) do %>
      <%= render(ButtonComponent.new(text: t("challenge.submit_existing_visualization"), color: :secondary, outline: :true, icon: "fa-solid fa-circle-plus")) %>
    <% end %>
  </div>
<% elsif !challenge.ongoing? && !challenge.ended? %>
  <%= render(AlertComponent.new(type: :info, extra_classes: "text-center")) do %>
    <%= t("challenge.will_start_in_x_days", count: (challenge.start_date - Date.today).to_i) %>
  <% end %>
<% end %>
