<% if user_signed_in? %>
  <%= render("home/user_signed_in/header") %>
  <%= render("my/profile/show/guest_alert") %>
  <%= render("home/user_signed_in/hero") %>
  <%= render("home/user_signed_in/contributions_graph") %>
  <div class="container mt-5">
    <div class="row row-cols-1 row-cols-lg-2 mb-3 g-4">
      <%= render("home/user_signed_in/visualizations") %>
      <%= render("home/user_signed_in/last_comments", comments: @last_comments) %>
    </div>
  </div>
  <%= render("home/user_signed_in/charts") %>
<% else %>
  <%= render("home/user_signed_out/image_grid", visualizations: @visualizations) %>
  <%= render("home/user_signed_out/presentation") %>
<% end %>
