<div class="container">
  <%= render(HeaderComponent.new(title: t("challenges.challenges"))) do %>
    <% if policy(Challenge).new? %>
      <%= link_to(new_challenge_path(locale)) do %>
        <%= render(ButtonComponent.new(text: t("challenges.form.create_title"), outline: :true, icon: "fa-regular fa-pen-to-square")) %>
      <% end %>
    <% elsif !policy(Challenge).index? %>
      <%= link_to(edit_my_profile_path(locale)) do %>
        <%= render(ButtonComponent.new(text: t("my.profile.not_in_directory"), outline: :true, icon: "fa-solid fa-users")) %>
      <% end %>
    <% end %>
  <% end %>
</div>
