<div class="modal fade" id="<%= @id %>" tabindex="-1" aria-labelledby="<%= @id %>Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded-4 mt-5">
      <div class="d-flex justify-content-between align-items-center my-2 p-3 border-bottom">
        <h2 class="modal-title fs-4 me-4" id="<%= @id %>Label"><%= @title %></h2>
        <%= render(ButtonComponent.new(text: t("common.close"), color: :secondary, outline: :true, rounded: :pill, size: :sm, icon: "fa-solid fa-xmark", data: { bs_dismiss: "modal" })) %>
      </div>
      <%= content %>
    </div>
  </div>
</div>
