<ul class="list-unstyled fs-6 text-start">
  <li class="mb-3">
    <i class="fa-solid fa-check me-2 text-success"></i>
    <% if pv.unlimited_visualizations? %>
      <%= t("subscription.unlimited_visualizations") %>
    <% else %>
      <%= t("subscription.monthly_visualization_limit", count: pv.monthly_visualization_limit) %>
    <% end %>
  </li>

  <li class="mb-3">
    <i class="fa-solid fa-check me-2 text-success"></i>
    <% if pv.unlimited_challenges? %>
      <%= t("subscription.unlimited_challenges") %>
    <% else %>
      <%= t("subscription.monthly_challenge_limit", count: pv.monthly_challenge_limit) %>
    <% end %>
  </li>

  <% t("subscription.features.#{pv.plan.name.downcase}").each do |feature| %>
    <li class="mb-3">
      <i class="fa-solid fa-check me-2 text-success"></i>
      <%= feature %>
    </li>
  <% end %>
</ul>
