<%= render("shared/guest_alert") %>

<div class="container my-5 border-top">
  <% if policy(Billing::PlanVersion).checkout? %>
    <%= render("pricings/header") %>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% @active_plan_versions.each do |pv| %>
        <div class="col">
          <div class="card border rounded-4 overflow-hidden <%= pv == @current_plan_version ? "border-success shadow-lg" : "border-secondary shadow-sm" %>">
            <% if pv == @current_plan_version %>
              <div class="position-absolute top-0 start-0 m-3">
                <i class="fa-solid fa-circle-check fs-4 text-success"></i>
              </div>
            <% end %>

            <div class="card-body text-center d-flex flex-column justify-content-between">
              <div>
                <h5 class="card-title fw-bold"><%= pv.plan.name %></h5>
                <p class="card-text text-muted"><%= pv.plan.description %></p>
                <p class="card-text fs-4 fw-semibold">
                  <%= number_to_currency(pv.price_cents / 100.0) %> <small class="text-muted">/ month</small>
                </p>
                <%= render("my/subscription/features_list", pv:) %>
              </div>

              <div>
                <% if pv == @current_plan_version %>
                  <button type="button" class="btn btn-primary w-100 mt-3 rounded-3" disabled>
                    <%= t("subscription.current_subscription") %>
                  </button>
                <% else %>
                  <%= form_with(url: checkout_my_subscription_path(locale),
                                method: :post,
                                data: {turbo: false}) do |form| %>
                    <%= hidden_field_tag(:plan_version_id, pv.id) %>
                    <%= hidden_field_tag(:stripe_price_id, pv.stripe_price_id) %>
                    <%= submit_tag(t("subscription.subscribe"), class: "btn btn-primary w-100 mt-3 rounded-3") %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
