<div class="col">
  <div class="card shadow-sm rounded-4">
    <div class="card-body">
      <!-- Contact Information Section -->
      <div class="d-flex justify-content-between align-items-center">
        <%= link_to(user.fullname, user_profile_path(locale, user.slug), class: "h2 card-title text-primary fw-bold") %>
        <span class="h4"><%= ISO3166::Country[user.country_code]&.emoji_flag %></span>
      </div>
      <hr>

      <!-- Social Links Section -->
      <h5 class="card-title text-primary fw-bold"><%= t("activerecord.attributes.user.social_links") %></h5>
      <% if user.social_links.present? %>
        <ul class="list-inline mt-2">
          <% user.social_links.each do |platform, link| %>
            <% unless link.blank? %>
              <li class="list-inline-item">
                <%= link_to(link, target: :_blank) do %>
                  <%= render(ButtonComponent.new(text: platform.capitalize,
                                                 color: :secondary,
                                                 size: :sm,
                                                 outline: :true,
                                                 rounded: :pill,
                                                 icon: "fa-brands fa-#{platform}")) %>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
      <hr>

      <!-- Softwares Section -->
      <h5 class="card-title text-primary fw-bold">
        <%= t("activerecord.models.software", count: 2) %>
      </h5>
      <ul class="list-inline mt-2">
        <% user.softwares.each do |software| %>
          <li class="list-inline-item mb-2">
            <span class="text-secondary"><%= software.name %></span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
