<div class="container mb-4">
  <div class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-4">
    <h1 class="my-0 display-5 text-primary"><%= t("community.directory.title") %></h1>
    <% unless current_user.opted_in_directory? %>
      <%= link_to(edit_my_profile_path, class: "btn btn-outline-primary btn rounded-4 d-flex align-items-center gap-2") do %>
        <i class="fa-solid fa-users"></i>
        <%= t("my.profile.not_in_directory") %>
      <% end %>
    <% end %>
  </div>

  <% if !current_user.profile_complete? %>
    <div class="alert alert-primary mt-3 rounded-4" role="alert">
      <%= t("guest.alert_01_html") %>
      <%= t("guest.alert_02_html", url: edit_my_profile_path) %>
    </div>
  <% elsif current_user.opted_in_directory? %>
    <%= render("community/directory/search", query: @query) %>
    <div class="row row-cols-1 row-cols-md-2 mb-3 g-4">
      <%= render(partial: "community/directory/card", collection: @users, as: :user) %>
    </div>

    <div class="d-flex justify-content-center align-items-center mt-3">
      <%== pagy_nav(@pagy) if @pagy.pages > 1  %>
    </div>
  <% else %>
    <div class="alert alert-warning bg-white border border-warning shadow-sm rounded-4 p-4 d-flex align-items-center gap-2">
      <div class="text-warning rounded-circle d-flex justify-content-center align-items-center p-3">
        <i class="fa-solid fa-circle-info fa-2x"></i>
      </div>
      <div class="alert-content flex-grow-1">
        <p class="mb-0 text-dark fw-bold"><%= t("community.directory.not_opted_in_alert") %></p>
      </div>
    </div>
  <% end %>
</div>
