<div class="container my-5">
  <div class="text-center mb-5">
    <h2 class="fw-bold"><%= t("subscription.pricing.title") %></h2>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6 mb-4">
      <div class="card h-100 shadow-sm border-secondary-subttle rounded-4">
        <div class="card-body">
          <h5 class="card-title text-primary mb-3">
            <%= t("subscription.pricing.subtitle_01.title") %>
          </h5>

          <ul class="list-unstyled">
            <li class="mb-2">
              <i class="fa-solid fa-circle-chevron-right me-2 text-success"></i>
              <span class="text-muted">
                <%= t("subscription.pricing.subtitle_01.list_01") %>
              </span>
            </li>
            <li class="mb-2">
              <i class="fa-solid fa-circle-chevron-right me-2 text-success"></i>
              <span class="text-muted">
                <%= t("subscription.pricing.subtitle_01.list_02") %>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card h-100 shadow-sm border-secondary-subttle rounded-4">
        <div class="card-body">
          <h5 class="card-title text-primary mb-3"><%= t("subscription.pricing.subtitle_02.title") %></h5>
          <ul class="list-unstyled">
            <li class="mb-2">
              <i class="fa-solid fa-circle-chevron-right me-2 text-success"></i>
              <span class="text-muted"><%= t("subscription.pricing.subtitle_02.list_01") %></span>
            </li>
            <li class="mb-2">
              <i class="fa-solid fa-circle-chevron-right me-2 text-success"></i>
              <span class="text-muted"><%= t("subscription.pricing.subtitle_02.list_02") %></span>
            </li>
            <li class="mb-2">
              <i class="fa-solid fa-circle-chevron-right me-2 text-success"></i>
              <span class="text-muted"><%= t("subscription.pricing.subtitle_02.list_03") %></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
