<%= turbo_frame_tag("challenge_discussion_form") do %>
  <% url = discussion.persisted? ? challenge_discussion_path(discussion.challenge, discussion) : challenge_discussions_path(discussion.challenge) %>
  <%= form_with(model: discussion, url:, class: "mb-4") do |form| %>
    <div data-controller="mention"
        data-mention-url-value="<%= mentions_path(locale) %>">
      <%= form.text_area(:content,
            class: "form-control d-block w-100 mb-2 rounded-4 text-dark",
            rows: 3,
            required: true,
            data: {action: "input->mention#onInput keydown->mention#onKeyDown", mention_target: "textarea"}) %>

      <!-- Dropdown target for suggestions -->
      <div data-mention-target="dropdown" class="mention-dropdown d-none"></div>
      <div data-mention-target="loading" class="d-none text-light">Loading...</div>
    </div>
    <%= form.submit(class: "btn btn-primary border border-light-subttle rounded-4") %>
  <% end %>
<% end %>
