<div data-masonry-target="item" class="border rounded-4">
  <% if map.image.attached? %>
    <div class="image-container rounded-top-4">
      <%= link_to(map) do %>
        <%= image_tag(map.image, class: "w-100", alt: "#{map.title} image") %>
        <div class="image-overlay text-center">
          <%= map.description %>
        </div>
      </div>
    <% end %>
  <% else %>
    <%= image_tag("default.png", alt: "Placeholder image") %>
  <% end %>
  <div class="card-body p-3">
    <%= link_to(map, class: "text-decoration-none") do %>
      <h5 class="card-title text-primary"><%= map.title %></h5>
    <% end %>
    <h6 class="card-subtitle mb-2 text-muted"><%= t("common.created_by", name: map.user.fullname) %></h6>
  </div>
</div>
