<div class="container my-3 col-md-8">
  <table class="table table-striped table-hover small align-middle mb-5" id="user-table">
    <thead>
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Superadmin</th>
        <th scope="col">Subscription</th>
        <th scope="col">Public_profile</th>
      </tr>
    </thead>
    <tbody>
      <% User.all.each do |user| %>
        <% next if user.superadmin? && !Rails.env.development? %>
        <tr class="cursor-pointer" data-email="<%= user.email %>" data-password="Password123.">
          <td><%= user.email %></td>
          <td><%= user.superadmin %></td>
          <td>
            <% if user.guest? %>
              Guest
            <% elsif user.subscribed? %>
              <%= user.current_plan_version.plan.name %>
            <% else %>
              Not Guest && Not subscribed
            <% end %>
          </td>
          <td><%= user.public_profile %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var rows = document.querySelectorAll('#user-table tbody tr');

    rows.forEach(function(row) {
      row.addEventListener('click', function() {
        var email = this.getAttribute('data-email');
        var password = this.getAttribute('data-password');

        var emailInput = document.querySelector('#user_email');
        var passwordInput = document.querySelector('#user_password');

        emailInput.value = email;
        passwordInput.value = password;
        emailInput.closest('form').submit();
      });
    });
  });
</script>
