<div class="container">
  <%= render(HeaderComponent.new(title: t("auth.sign_in"))) %>
</div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <!-- Card Wrapper -->
      <div class="card shadow-sm rounded-4">

        <!-- Card Body -->
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "needs-validation", novalidate: true}) do |f| %>
            <!-- Email Field -->
            <div class="mb-3">
              <%= f.label(t("auth.email"), class: "form-label fw-bold") %>
              <%= f.email_field(:email, autofocus: true, class: "form-control rounded-pill", placeholder: t("auth.email_placeholder")) %>
            </div>

            <!-- Password Field -->
            <div class="mb-3">
              <%= f.label(t("auth.password"), class: "form-label fw-bold") %>
              <%= f.password_field(:password, autocomplete: "current-password", class: "form-control rounded-pill", placeholder: t("auth.password_placeholder")) %>
            </div>

            <!-- Remember Me Checkbox -->
            <% if devise_mapping.rememberable? %>
              <div class="form-check mb-3">
                <%= f.check_box(:remember_me, class: "form-check-input") %>
                <%= f.label(t("auth.remember_me"), class: "form-check-label") %>
              </div>
            <% end %>

            <!-- Submit Button -->
            <div class="d-grid">
              <%= f.submit(t("auth.sign_in"), id: "submit_sign_in", class: "btn btn-primary btn-lg rounded-pill shadow-sm") %>
            </div>
          <% end %>

          <!-- Additional Links -->
          <div class="mt-3 text-center">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "login_dev" %>
