<%= render("challenges/index/header") %>

<div class="container">
  <% if current_user.guest? %>
    <%= render("shared/guest_alert") %>
  <% elsif policy(Challenge).index? %>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <%= render(partial: "challenges/index/card", collection: @challenges, as: :challenge) %>
    </div>
    <%= render(PaginationComponent.new(pagy: @pagy)) %>
  <% elsif current_user.not_guest_not_subscribed? %>
    <div class="alert alert-warning bg-white border border-warning shadow-sm rounded-4 p-4 d-flex align-items-center gap-2">
      <div class="text-warning rounded-circle d-flex justify-content-center align-items-center p-3">
        <i class="fa-solid fa-circle-info fa-2x"></i>
      </div>
      <div class="alert-content flex-grow-1">
        <p class="mb-0 text-dark fw-bold"><%= t("challenge.subscription_alert") %></p>
      </div>
    </div>
  <% end %>
</div>
