<%= render("challenges/show/header", challenge: @challenge) %>

<div class="container mt-5">
  <div class="row g-4 mb-3">
    <%= render("challenges/show/infos", challenge: @challenge) %>
    <%= render("challenges/show/participant_list", challenge: @challenge) %>
  </div>

  <h3 class="border-bottom pb-2"><%= t("challenge.submissions", count: @visualizations.count) %></h3>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <% @visualizations.each do |visualization| %>
      <div class="col">
        <%= render(Visualization::CardComponent.new(visualization: )) %>
      </div>
    <% end %>
  </div>
</div>
