<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mb-3">
  <%= form.fields_for(:user_softwares) do |us_form| %>
    <% software = us_form.object.software %>
    <div class="col">
      <div class="card shadow-sm rounded-4">
        <div class="card-title p-3 border-bottom">
          <div class="form-check form-switch">
            <%= us_form.hidden_field(:software_id) %>
            <%= us_form.check_box(:_destroy, {class: "form-check-input", checked: us_form.object.persisted?}, false, true) %>
            <%= us_form.label(:_destroy, software.name, class: "form-check-label") %>
          </div>
        </div>
        <div class="card-body">
          <div class="btn-group d-flex flex-wrap" role="group" aria-label="Expertise options">
            <% UserSoftware.expertise_keys.each do |expertise| %>
              <%= us_form.radio_button(:expertise, expertise.upcase, class: "btn-check", required: true) %>
              <%= us_form.label("expertise_#{expertise}", class: "btn btn-outline-primary btn-sm rounded-4 flex-grow-1 m-1") do %>
                <%= t("softwares.expertises.#{expertise.downcase}") %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
