<%= turbo_frame_tag("visualization_comment_form") do %>
  <% url = comment.persisted? ? visualization_comment_path(comment.visualization, comment) : visualization_comments_path(comment.visualization) %>
  <%= form_with(model: comment, url: , class: "mb-4") do |form| %>
    <div data-controller="mention"
        data-mention-url-value="<%= mentions_path(locale) %>">
      <%= form.label(t("visualization.comments.write_comment"), class: "fs-5 text-light") %>
      <%= form.text_area :content,
            class: "form-control d-block w-100 mb-2 rounded-4 text-dark",
            rows: 3,
            required: true,
            data: { action: "input->mention#onInput keydown->mention#onKeyDown", mention_target: "textarea" } %>

      <!-- Dropdown target for suggestions -->
      <div data-mention-target="dropdown" class="mention-dropdown d-none"></div>
      <div data-mention-target="loading" class="d-none text-light">Loading...</div>
    </div>

    <%= form.submit(class: "btn btn-primary border border-light-subtle rounded-4") %>
  <% end %>
<% end %>
