<%= form_with(url: visualizations_path, method: :get, local: true, class: "shadow-sm border border-secondary-subtle p-4 mb-4 bg-light rounded-4") do |form| %>
  <div class="form-text mb-3 text-secondary">
    <%= t("visualizations.search.query_placeholder") %>
  </div>

  <div class="input-group mb-4">
    <%= form.text_field(:query, value: params[:query], placeholder: t("common.search"), class: "form-control rounded-start-pill shadow-sm", aria: {label: "Search query"}) %>
    <button class="btn btn-outline-success rounded-end-pill shadow-sm" type="submit">
      <i class="fa-solid fa-magnifying-glass"></i></i> <%= t("common.search_btn") %>
    </button>
  </div>

  <!-- Apply Filters Button -->
  <%= link_to("#collapseFilters",
              class: "btn btn-outline-dark rounded-4",
              data: {bs_toggle: "collapse"},
              role: "button",
              aria: {expanded: "false", controls: "collapseFilters"}) do %>
    <i class="fa-solid fa-filter"></i>
    <%= t("common.apply_filters") %>
    <span class="small fw-light">(<%= @non_empty_params_count %>)</span>
  <% end %>

  <!-- Reset Filters Link -->
  <% unless @non_empty_params_count.zero? %>
    <%= link_to(visualizations_path, class: "small text-secondary ms-3") do %>
      <i class="fa-solid fa-filter-circle-xmark"></i>
      <%= t("common.reset_filters") %>
    <% end %>
  <% end %>

  <!-- Collapsible Filters Section -->
  <div class="collapse mt-3" id="collapseFilters">
    <%= render("visualizations/index/filters", form: form, params: params) %>
  </div>

  <!-- Results Count -->
  <p class="small mt-3 text-muted"><%= visualization_count %> visualizations found</p>
<% end %>
