<nav class="navbar navbar-expand-lg container bg-white shadow-sm rounded-4 mt-3 px-3 border <%= Rails.env.development? ? "border-warning" : "border-secondary-subtle" %>" aria-label="Offcanvas navbar">
  <%= link_to(root_path(locale), class: "navbar-brand d-flex align-items-center") do %>
    <%= image_tag("logo.png", alt: "Cosmographia logo", width: "30", height: "30", class: "d-none d-sm-inline-block align-text-top me-2") %>
    <span class="fw-bold text-primary">Cosmographia</span>
  <% end %>

  <%= render("layouts/navbar/icons_for_sm_screen") %>

  <button class="navbar-toggler ms-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
    aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
    aria-labelledby="offcanvasNavbarLabel">
    <h5 id="offcanvasNavbarLabel" class="visually-hidden">Offcanvas Navigation</h5>
    <div class="offcanvas-header bg-primary text-white">
      <%= image_tag("logo_inverted.png", alt: "Logo", width: "30", height: "30", class: "d-inline-block align-text-top me-2") %>
      <span class="fw-bold">Cosmographia</span>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="navbar-nav flex-grow-1 pe-3">
        <li class="nav-item align-content-center">
          <%= link_to(t("navbar.visualizations"), visualizations_path(locale), class: "nav-link #{active_class(visualizations_path)} fw-semibold") %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item align-content-center">
            <%= link_to(t("navbar.community"), community_directory_path(locale), class: "nav-link #{active_class(community_directory_path)} fw-semibold") %>
          </li>
          <li class="nav-item align-content-center">
            <%= link_to(t("navbar.challenges"), challenges_path(locale), class: "nav-link #{active_class(challenges_path)} fw-semibold") %>
          </li>
          <li class="nav-item align-content-center">
            <%= render("layouts/navbar/more") %>
          </li>
        <% else %>
          <li class="nav-item align-content-center">
            <%= link_to(t("navbar.pricings"), pricings_path(locale), class: "nav-link #{active_class(pricings_path)} fw-semibold") %>
          </li>
          <li class="nav-item align-content-center">
            <%= link_to(t("navbar.about"), about_index_path(locale), class: "nav-link #{active_class(about_index_path)} fw-semibold") %>
          </li>
        <% end %>
      </ul>
      <div class="d-flex flex-column flex-lg-row align-items-start align-items-lg-center gap-3">
        <%= render("layouts/navbar/search") %>
        <%= render("layouts/navbar/locale") unless user_signed_in? %>
        <div class="d-none d-lg-block">
          <%= render("layouts/navbar/user_signed_in") %>
        </div>
        <%= render("layouts/navbar/user_signed_out") %>
      </div>
    </div>
  </div>
</nav>
