<div class="border-top border-bottom bg-white text-center py-4">
  <h1 class="display-4 fw-bold text-primary">
    <%= t("common.welcome_to", app_name: "Cosmographia") %>
  </h1>
  <div class="col-lg-8 mx-auto">
    <p class="lead text-secondary mb-4">
      <%= t("home.user_signed_in.visualizations_count", count: Visualization.count) %>
      <br>
      <%= t("home.user_signed_in.explore_and_publish") %>
    </p>
    <div class="d-grid gap-3 d-flex justify-content-center">
      <%= link_to(visualizations_path(locale)) do %>
        <%= render(ButtonComponent.new(text: "ðŸŒ #{t("home.user_signed_in.discover_visualizations")}",
                                       color: :secondary,
                                       outline: :true,
                                       rounded: :pill)) %>
      <% end %>
    </div>
  </div>
</div>
