<div class="container border-bottom bg-light text-center pb-4">
  <h1 class="display-4 fw-bold text-primary">
    <%= t("common.welcome_to", app_name: "Cosmographia") %>
  </h1>
  <div class="col-lg-8 mx-auto">
    <p class="lead text-secondary mb-4">
      Plus de <span class="fw-bold text-dark"><%= Visualization.count %> cartes partagées</span> par notre communauté vous attendent.
      Inspirez-vous, explorez, et ajoutez votre propre vision en publiant vos cartes dès aujourd'hui.
      <br>
      Ensemble, dessinons le monde et l'univers ! ✨.
    </p>
    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
      <% if current_user.guest? %>
        <a tabindex="0" class="btn btn-primary btn-lg px-4 gap-3 rounded-pill shadow-sm" data-bs-placement="bottom" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="<%= t("guest.alert_01_html") %>" data-bs-content="<%= t("guest.alert_02_popover") %>">
          <%= t("home.user_signed_in.post_visualization") %>
        </a>
      <% else %>
        <%= link_to(t("home.user_signed_in.post_visualization"), new_visualization_path, class: "btn btn-primary btn-lg px-4 gap-3 rounded-pill shadow-sm") %>
      <% end %>
      <%= link_to("🌍 #{t("home.user_signed_in.dicover_visualizations")}", visualizations_path, class: "btn btn-outline-secondary btn-lg px-4 gap-3 rounded-pill shadow-sm") %>
    </div>
  </div>
</div>
