<div class="bg-primary bg-gradient p-4">
  <div class="container my-3">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <div class="h2 text-white">
        <%= t("home.user_signed_in.last_comments") %>
      </div>
      <%= link_to(root_path(locale), data: {turbo_frame: :last_comments}) do %>
        <%= render(ButtonComponent.new(
          text: t("common.refresh"),
          color: :light,
          size: :sm,
          rounded: :pill,
          outline: :true,
          icon: "fa-solid fa-rotate-right"
        )) %>
      <% end %>
    </div>

    <%= turbo_frame_tag("last_comments") do %>
      <% comments.each do |comment| %>
        <%= render("my/comments/comment", comment:, user: comment.user) %>
      <% end %>
    <% end %>
  </div>
</div>
