<div>
  <div class="d-flex justify-content-between align-items-center mb-3">
    <span class="h2 text-secondary">
      <%= t("home.user_signed_in.last_visualizations") %>
    </span>
    <%= link_to(root_path(locale), data: { turbo_frame: :last_visualizations }) do %>
      <%= render(ButtonComponent.new(
        text: t("common.refresh"),
        size: :sm,
        rounded: :pill,
        outline: :true,
        icon: "fa-solid fa-rotate-right"
      )) %>
    <% end %>
  </div>

  <%= turbo_frame_tag("last_visualizations") do %>
    <div class="row row-cols-2 row-cols-lg-3 g-4 mb-4">
      <%= render(partial: "home/user_signed_in/gallery", collection: @visualizations, as: :visualization) %>
    </div>
  <% end %>
</div>
