<%= render("my/profile/show/header") %>

<%= turbo_frame_tag("profile_tab_content") do %>
  <%= render("my/profile/tabs/tabs_nav") %>

  <div class="bg-primary bg-gradient p-4">
    <div class="container">
      <h2 class="text-white mb-4">
        <%= t("my.profile.last_comments") %>
        <span class="small fw-light"><%= t("my.profile.total_comment_count", count: @total_comment_count) %></span>
      </h2>
      <% @comments.each do |comment| %>
        <%= render("my/profile/comment", comment:, user: current_user) %>
      <% end %>
    </div>
  </div>
    <%= render(PaginationComponent.new(pagy: @pagy)) %>
<% end %>
